# This workflow will build a .NET project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-net

name: .NET

on:
  push:
    branches: [ "*" ]
    tags: [ "v*" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build-and-test:

    runs-on: ubuntu-latest

    steps:
    # Step 1: Checkout the code
    - uses: actions/checkout@v4

    # Step 2: Setup .NET
    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 8.0.x

    # Step 3: Install Mono
    - name: Set up Mono Environment
      run: |
        sudo apt update
        sudo apt install -y mono-complete

    # Step 4: Verify Mono Installation
    - name: Verify Mono
      run: mono --version

    # Step 5: Build and test the SDK
    - name: Restore dependencies
      run: dotnet restore
    - name: Build
      run: dotnet build --no-restore
    - name: Test
      run: dotnet test --no-build --verbosity normal

    # Step 6: Package the SDK
    - name: Pack
      run: dotnet pack --configuration Release -o ./artifacts

    # Step 7: Upload
    - name: Upload
      uses: actions/upload-artifact@v4
      with:
        name: NuGet
        path: ./artifacts
        retention-days: 5
